.btn {
    --btn-bg: var(--color-bg);
    --btn-text-color: var(--color-text);
    --btn-border-color: var(--color-border);
    --btn-padding-x: .75rem;
    --btn-text-padding-x: 0.5rem;
    --btn-hover-bg: var(--btn-bg);
    --btn-hover-border-color: var(--color-border-hover);
    --btn-focus-color: rgba(59, 69, 78, .3);
    --btn-height: 2.5rem;
    --btn-radius: 0.3rem;
    --btn-icon-size: 1rem;
    --btn-font-size: 0.875rem;
    background: var(--btn-bg);
    color: var(--btn-text-color);
    border: 1px solid var(--btn-border-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--btn-radius);
    text-decoration: none;
    line-height: 1;
    font-weight: 500;
    font-size: var(--btn-font-size);
    height: var(--btn-height);
    min-width: var(--btn-height);
    padding: 0 calc(var(--btn-padding-x) - 1px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .04), 0 4px 6px -2px rgba(0, 0, 0, .02);
    -webkit-user-select: none;
    -moz-user-select: none;
    transition: opacity .3s, transform .3s, border-color .3s, color .3s, background-color .3s;
    cursor: pointer;
    white-space: nowrap;
    touch-action: manipulation;
    user-select: none;
    vertical-align: bottom
}

.btn.disabled, .btn:disabled {
    --btn-text-color: #8787a1;
    --btn-bg: #fafbfc;
    cursor: not-allowed
}

.btn.active, .btn:active {
    --btn-text-color: #fff;
    --btn-bg: var(--color-primary);
    --btn-border-color: transparent
}

.btn:hover {
    --btn-bg: var(--btn-hover-bg);
    --btn-border-color: var(--btn-hover-border-color)
}

a.btn:hover {
    color: var(--btn-hover-color, var(--btn-text-color));
    border-color: var(--btn-hover-border-color);
    background-color: var(--btn-hover-bg, var(--btn-bg))
}

.btn:focus-visible {
    box-shadow: 0 0 0 3px var(--btn-focus-color);
    outline: none
}

.btn .icon {
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    stroke-width: 1
}

.btn-responsive-text, .btn-text {
    margin: 0 var(--btn-text-padding-x)
}

.btn-block {
    width: 100%
}

.btn-lg {
    --btn-height: 3.5rem;
    --btn-padding-x: 1rem;
    --btn-icon-size: 1.5rem;
    --btn-font-size: 1.125rem;
    --btn-text-padding-x: 1rem;
    --btn-radius: 0.5rem
}

@media (min-width: 768px) {
    .md\:btn-lg {
        --btn-height: 3.5rem;
        --btn-padding-x: 1rem;
        --btn-icon-size: 1.5rem;
        --btn-font-size: 1.125rem;
        --btn-text-padding-x: 1rem;
        --btn-radius: 0.5rem
    }
}

@media (min-width: 960px) {
    .lg\:btn-lg {
        --btn-height: 3.5rem;
        --btn-padding-x: 1rem;
        --btn-icon-size: 1.5rem;
        --btn-font-size: 1.125rem;
        --btn-text-padding-x: 1rem;
        --btn-radius: 0.5rem
    }
}

.btn-circle {
    border-radius: 50%
}

.btn-link {
    background: transparent;
    color: var(--color-muted);
    border-color: transparent;
    box-shadow: none
}

.btn-link svg {
    stroke-width: 1.5
}

.btn-link:hover {
    color: var(--color-text);
    border-color: transparent !important;
    background: transparent !important;
    box-shadow: none
}

.btn-outline {
    border-color: var(--btn-color);
    color: var(--btn-color);
    background: transparent
}

.btn-primary {
    --btn-color: var(--color-primary);
    --btn-color-darken: var(--color-primary-darken);
    --btn-bg: var(--color-primary);
    --btn-text-color: #fff;
    --btn-border-color: var(--color-primary);
    --btn-hover-bg: var(--color-primary-darken);
    --btn-hover-border-color: var(--color-primary-darken)
}

.btn-primary.disabled {
    --btn-bg: #6c6c89;
    --btn-text-color: #fff;
    --btn-border-color: #6c6c89
}

.btn-pink {
    --btn-color: var(--color-pink);
    --btn-color-darken: var(--color-pink-darken);
    --btn-bg: var(--color-pink);
    --btn-text-color: #fff;
    --btn-border-color: var(--color-pink);
    --btn-hover-bg: var(--color-pink-darken);
    --btn-hover-border-color: var(--color-pink-darken)
}

.btn-pink.disabled {
    --btn-bg: #6c6c89;
    --btn-text-color: #fff;
    --btn-border-color: #6c6c89
}

.btn-green {
    --btn-color: var(--color-green);
    --btn-color-darken: var(--color-green-darken);
    --btn-bg: var(--color-green);
    --btn-text-color: #fff;
    --btn-border-color: var(--color-green);
    --btn-hover-bg: var(--color-green-darken);
    --btn-hover-border-color: var(--color-green-darken)
}

.btn-green.disabled {
    --btn-bg: #6c6c89;
    --btn-text-color: #fff;
    --btn-border-color: #6c6c89
}

.btn-list {
    --btn-list-margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--btn-list-margin) * -1) calc(var(--btn-list-margin) * -1) 0
}

.btn-list > * {
    margin: 0 var(--btn-list-margin) var(--btn-list-margin) 0
}

@media (max-width: 559.98px) {
    .btn-responsive-sm .icon {
        margin-left: -.5rem;
        margin-right: -.5rem
    }

    .btn-responsive-sm .btn-responsive-text {
        display: none
    }
}

.btn-action {
    background: transparent;
    border-color: transparent;
    box-shadow: none
}

.btn-action:hover {
    cursor: pointer;
    background-color: var(--color-bg-secondary)
}