.navbar {
    justify-content: center;
    display: flex
}

@media (max-width: 959.98px) {
    .navbar {
        position: fixed;
        display: block;
        background: #fff;
        top: 0;
        left: 0;
        bottom: 0;
        max-width: 80%;
        height: 100vh;
        padding: 5rem 1rem 1rem;
        border-right: 1px solid var(--color-border);
        width: 320px;
        transform: translateX(-100%);
        transition: transform .5s;
        box-shadow: 0 20px 40px 0 rgba(59, 69, 78, .1), 0 0 2px 0 rgba(59, 69, 78, .06);
        z-index: 201
    }

    .navbar.opened {
        transform: translateX(0)
    }
}

.navbar-backdrop {
    display: none
}

@media (max-width: 959.98px) {
    .navbar-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(59, 69, 78, .4);
        z-index: 200;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100vh
    }

    .navbar-backdrop.opened {
        display: flex
    }
}

.navbar-menu {
    justify-content: center;
    display: flex;
    gap: 1.5rem
}

@media (max-width: 959.98px) {
    .navbar-menu {
        flex-direction: column;
        gap: 0
    }
}

.navbar-toggle {
    cursor: pointer;
    border: 0;
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: .25rem;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: inherit;
    position: relative;
    z-index: 201
}

@media (min-width: 960px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 1.5rem;
    background: currentColor;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .2s ease-in-out
}

.navbar-toggle span:first-child {
    top: 8px;
    left: .25rem;
    transform-origin: center
}

.navbar-toggle span:nth-child(2),
.navbar-toggle span:nth-child(3) {
    top: 16px;
    left: .25rem;
    transform-origin: center
}

.navbar-toggle span:nth-child(4) {
    top: 24px;
    left: .25rem;
    transform-origin: center
}

.navbar-toggle.opened span:first-child,
.navbar-toggle.opened span:nth-child(4) {
    opacity: 0;
    top: 15px;
    width: 0;
    left: 50%
}

.navbar-toggle.opened span:nth-child(2) {
    transform: rotate(45deg)
}

.navbar-toggle.opened span:nth-child(3) {
    transform: rotate(-45deg)
}

.navbar-item {
    margin: 0
}

@media (max-width: 959.98px) {
    .navbar-item {
        margin-top: .5rem
    }
}

.navbar-link {
    color: var(--color-muted);
    padding: calc(.5rem - 2px) 0;
    transition: color .3s;
    position: relative;
    background: transparent;
    font: inherit;
    cursor: pointer;
    border-radius: .25rem;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.navbar-link:hover {
    color: var(--color-text)
}

.navbar-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: .25rem;
    background: var(--color-primary);
    opacity: 0;
    transform: scaleX(0);
    transition: opacity .5s, transform .5s
}

@media (min-width: 960px) {
    .navbar-link:after {
        content: ""
    }
}

.navbar-link.active {
    color: var(--color-primary)
}

.navbar-link.active:after {
    opacity: 1;
    transform: scaleX(1)
}

.navbar-dropdown {
    position: relative;
    display: flex;
    flex-direction: column
}

.navbar-dropdown-menu {
    --menu-width: 25rem
}

@media (min-width: 960px) {
    .navbar-dropdown-menu {
        position: absolute;
        top: calc(100% + 1rem);
        left: 50%;
        background: var(--color-bg);
        width: var(--menu-width);
        box-shadow: 0 4px 56px rgba(12, 20, 40, .1), 0 0 0 1px rgba(12, 20, 40, .05);
        border-radius: .5rem;
        margin-left: calc(var(--menu-width) * -.5);
        transition: opacity .5s, transform .5s, visibility .5s
    }

    .navbar-dropdown-menu:after, .navbar-dropdown-menu:before {
        content: "";
        position: absolute;
        top: -.25rem;
        left: calc(50% - .5rem);
        background: inherit;
        transform: rotate(45deg);
        width: 1rem;
        height: 1rem;
        z-index: 1
    }

    .navbar-dropdown-menu:after {
        z-index: -1;
        box-shadow: 0 0 0 1.5px var(--color-border)
    }
}

.navbar-dropdown-menu-content {
    display: grid;
    grid-gap: 1.5rem 2rem;
    gap: 1.5rem 2rem;
    grid-template-columns: 1fr
}

@media (min-width: 960px) {
    .navbar-dropdown-menu-content {
        padding: 1.5rem
    }
}

.navbar-dropdown-menu-footer {
    padding: 1.5rem;
    background: var(--color-bg-secondary);
    border-radius: 0 0 calc(.5rem + 1px) calc(.5rem + 1px)
}

.navbar-dropdown-menu-link {
    color: inherit;
    cursor: pointer;
    background: transparent;
    text-align: left;
    border-radius: .25rem;
    transition: background-color .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media (min-width: 960px) {
    .navbar-dropdown-menu-link {
        padding: 1rem;
        margin: -1rem
    }
}

.navbar-dropdown-menu-link:focus-visible, .navbar-dropdown-menu-link:hover {
    background: var(--color-bg-secondary)
}