*, :after, :before {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: .01ms;
        animation-iteration-count: 1;
        transition-duration: .01ms;
        scroll-behavior: auto
    }
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    scroll-padding-top: 5rem;
    overflow-y: scroll;
    --font-family-base: Inter Var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto ColorEmoji;
    --font-family-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --color-primary: #3f94c5;
    --color-red: #e03131;
    --color-pink: #ea4aaa;
    --color-grape: #9c36b5;
    --color-violet: #6741d9;
    --color-indigo: #3b5bdb;
    --color-blue: #1971c2;
    --color-cyan: #0c8599;
    --color-teal: #099268;
    --color-green: #2f9e44;
    --color-lime: #66a80f;
    --color-yellow: #f08c00;
    --color-orange: #e8590c;
    --color-white: #fff;
    --color-dark: #1d2434;
    --color-base: #3b454e;
    --color-gray-dark: #1d2434;
    --color-gray: #f7f9fc;
    --color-gray-light: #fafbfc;
    --color-twitter: #1da1f2;
    --color-facebook: #1877f2;
    --color-github: #181717;
    --color-dribbble: #ea4c89;
    --bg-gray: var(--color-gray);
    --bg-gray-light: var(--color-gray-light);
    --bg-base: var(--bg-primary);
    --bg-surface: var(--bg-primary);
    --bg-secondary: var(--bg-secondary);
    --grid-gap: 0.75rem
}


@media (min-width: 768px) {
    html {
        --grid-gap: 1.5rem
    }
}

[data-scheme=light], html {
    --color-primary-darken-rgb: 0, 58, 115;
    --color-primary-darken: rgb(var(--color-primary-darken-rgb));
    --color-red-rgb: 224, 49, 49;
    --color-red: rgb(var(--color-red-rgb));
    --color-red-darken-rgb: 193, 29, 29;
    --color-red-darken: rgb(var(--color-red-darken-rgb));
    --color-pink-rgb: 234, 74, 170;
    --color-pink: rgb(var(--color-pink-rgb));
    --color-pink-darken-rgb: 229, 28, 149;
    --color-pink-darken: rgb(var(--color-pink-darken-rgb));
    --color-grape-rgb: 156, 54, 181;
    --color-grape: rgb(var(--color-grape-rgb));
    --color-grape-darken-rgb: 122, 42, 142;
    --color-grape-darken: rgb(var(--color-grape-darken-rgb));
    --color-violet-rgb: 103, 65, 217;
    --color-violet: rgb(var(--color-violet-rgb));
    --color-violet-darken-rgb: 77, 39, 193;
    --color-violet-darken: rgb(var(--color-violet-darken-rgb));
    --color-indigo-rgb: 59, 91, 219;
    --color-indigo: rgb(var(--color-indigo-rgb));
    --color-indigo-darken-rgb: 35, 67, 192;
    --color-indigo-darken: rgb(var(--color-indigo-darken-rgb));
    --color-blue-rgb: 25, 113, 194;
    --color-blue: rgb(var(--color-blue-rgb));
    --color-blue-darken-rgb: 19, 87, 149;
    --color-blue-darken: rgb(var(--color-blue-darken-rgb));
    --color-cyan-rgb: 12, 133, 153;
    --color-cyan: rgb(var(--color-cyan-rgb));
    --color-cyan-darken-rgb: 8, 92, 106;
    --color-cyan-darken: rgb(var(--color-cyan-darken-rgb));
    --color-teal-rgb: 9, 146, 104;
    --color-teal: rgb(var(--color-teal-rgb));
    --color-teal-darken-rgb: 6, 98, 70;
    --color-teal-darken: rgb(var(--color-teal-darken-rgb));
    --color-green-rgb: 47, 158, 68;
    --color-green: rgb(var(--color-green-rgb));
    --color-green-darken-rgb: 35, 119, 51;
    --color-green-darken: rgb(var(--color-green-darken-rgb));
    --color-lime-rgb: 102, 168, 15;
    --color-lime: rgb(var(--color-lime-rgb));
    --color-lime-darken-rgb: 74, 121, 11;
    --color-lime-darken: rgb(var(--color-lime-darken-rgb));
    --color-yellow-rgb: 240, 140, 0;
    --color-yellow: rgb(var(--color-yellow-rgb));
    --color-yellow-darken-rgb: 189, 110, 0;
    --color-yellow-darken: rgb(var(--color-yellow-darken-rgb));
    --color-orange-rgb: 232, 89, 12;
    --color-orange: rgb(var(--color-orange-rgb));
    --color-orange-darken-rgb: 184, 70, 9;
    --color-orange-darken: rgb(var(--color-orange-darken-rgb));
    --color-white-rgb: 255, 255, 255;
    --color-white: rgb(var(--color-white-rgb));
    --color-white-darken-rgb: 230, 230, 230;
    --color-white-darken: rgb(var(--color-white-darken-rgb));
    --color-dark-rgb: 29, 36, 52;
    --color-dark: rgb(var(--color-dark-rgb));
    --color-dark-darken-rgb: 11, 13, 19;
    --color-dark-darken: rgb(var(--color-dark-darken-rgb));
    --color-white: #fff;
    --color-dark: #1d2434;
    --color-text: #3b454e;
    --color-dark-text: hsla(0, 0%, 100%, .96);
    --color-dark-muted: hsla(0, 0%, 100%, .5);
    --color-muted: #6c6c89;
    --color-headers: #232b42;
    --color-muted-light: #8787a1;
    --color-bg: #fff;
    --color-bg-secondary: #f7f9fc;
    --color-bg-tertiary: #e5e7eb;
    --color-bg-dark: #1d2434;
    --color-border: #d9e1ea;
    --color-border-light: #e6ebf1;
    --color-border-dark: #9d9ea1;
    --color-border-hover: #a8bacf;
    color: var(--color-text)
}


[data-scheme=dark] {
    --t: rgb(41, 46, 56);
    --color-primary-darken-rgb: 0, 71, 141;
    --color-primary-darken: rgb(var(--color-primary-darken-rgb));
    --color-bg-rgb: 35, 39, 47;
    --color-bg: rgb(var(--color-bg-rgb));
    --color-bg-secondary-rgb: 38, 42, 49;
    --color-bg-secondary: rgb(var(--color-bg-secondary-rgb));
    --color-muted-rgb: 255, 255, 255;
    --color-muted: rgb(var(--color-muted-rgb));
    --color-text-rgb: 255, 255, 255;
    --color-text: rgb(var(--color-text-rgb));
    --color-headers: rgb(var(--color-text-rgb));
    --color-border-rgb: 56, 55, 69;
    --color-border: rgb(var(--color-border-rgb));
    --color-border-light-rgb: 44, 44, 55;
    --color-border-light: rgb(var(--color-border-light-rgb));
    --color-border-hover-rgb: 79, 78, 97;
    --color-border-hover: rgb(var(--color-border-hover-rgb));
    --color-headers-rgb: var(--color-text-rgb);
    color: var(--color-text)
}

[data-scheme=dark] .logo {
    filter: invert(1) brightness(10)
}

[data-scheme=dark] .img-light {
    display: none !important
}

[data-scheme=dark] .img-dark {
    display: block !important
}

@media (prefers-color-scheme: light) {
    [data-scheme=system] {
        --color-primary-rgb: 0, 97, 192;
        --color-primary: rgb(var(--color-primary-rgb));
        --color-primary-darken-rgb: 0, 71, 141;
        --color-primary-darken: rgb(var(--color-primary-darken-rgb));
        --color-bg-rgb: 25, 31, 45;
        --color-bg: rgb(var(--color-bg-rgb));
        --color-bg-secondary-rgb: 29, 36, 52;
        --color-bg-secondary: rgb(var(--color-bg-secondary-rgb));
        --color-muted-rgb: 255, 255, 255;
        --color-muted: rgb(var(--color-muted-rgb));
        --color-text-rgb: 255, 255, 255;
        --color-text: rgb(var(--color-text-rgb));
        --color-headers: rgb(var(--color-text-rgb));
        --color-border-rgb: 56, 55, 69;
        --color-border: rgb(var(--color-border-rgb));
        --color-border-light-rgb: 44, 44, 55;
        --color-border-light: rgb(var(--color-border-light-rgb));
        --color-border-hover-rgb: 79, 78, 97;
        --color-border-hover: rgb(var(--color-border-hover-rgb));
        --color-headers-rgb: var(--color-text-rgb);
        color: var(--color-text)
    }

    [data-scheme=system] .logo {
        filter: invert(1) brightness(10)
    }

    [data-scheme=system] .img-light {
        display: none !important
    }

    [data-scheme=system] .img-dark {
        display: block !important
    }
}


body {
    text-rendering: optimizeSpeed;
    color: var(--color-text);
    font-family: Inter Var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto ColorEmoji;
    font-size: 1rem;
    line-height: 1.75;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: var(--color-bg);
    font-feature-settings: "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    accent-color: var(--color-primary);

    --yarl__color_backdrop: rgba(59, 69, 78, .4);
    --yarl__color_button: #3b454e;
    --yarl__button_filter: none;
    --yarl__thumbnails_thumbnail_background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: 600;
    color: var(--color-headers, #232b42);
    margin-bottom: .5rem;
    line-height: 1.2
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem
}


.h0 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, .modal-title a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: inherit
}

.h0 a:hover, .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover, .modal-title a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: underline
}

strong {
    font-weight: 600
}

a {
    color: var(--color-primary)
}

a, a:hover {
    text-decoration: none
}

a:hover {
    color: var(--color-primary-darken)
}

.header-sticky {
    box-shadow: 0 0 0 1px var(--color-border), 0 .375rem 1.25rem -.25rem rgba(59, 69, 78, .06);
    background-color: var(--color-bg-rgb);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px)
}

@supports (color: color-mix(in lch,red,blue)) {
    .header-sticky {
        background-color: color-mix(in srgb, var(--color-bg), transparent 10%)
    }
}

.img-light, .img-dark {
    display: block;
    border-radius: .2rem;
    border: 1px solid rgba(41, 46, 50, 0.22);
}


[data-scheme=dark] .img-light {
    display: none !important
}

[data-scheme=light] .img-dark {
    display: none !important
}


